:host {

  height: 100% !important;
  .list-container {
    border : 1px solid black;
    width: 100%;
  }

  .list-item {
    height: 100px;
    background-color: whitesmoke;
    a {
      cursor: pointer;
      text-decoration: none;
    }
    a:hover {
      background-color: gray;
    }
  }

}
