<div>
  <div *ngIf="!id && !emailDetails" class="empty">
  </div>
  <div class="heading-panel">
    <div class="subject">
      <h1>{{emailDetails.subject}}</h1>
      <button mat-fab color="warn" aria-label="Example icon button with a delete icon">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <div class="sender-details">
      <div> From : {{emailDetails.from}} </div>
      <div> Date : {{emailDetails.timestamp| date}} </div>
    </div>
  </div>
  <div class="main-content">
    {{emailDetails.description}}
  </div>
</div>
