<mat-drawer-container class="drawer-container" style="height: 100%; width: 100%;" >
  <mat-drawer mode="side" opened>
    <div class="compose">
      <button mat-raised-button color="accent">Compose</button>
    </div>
    <hr/>

    <div class="menu-options">
      <a>
        <div class="menu-item">
          <div class="mail-type">Inbox</div>
          <div class="number">7</div>
        </div>
      </a>
      <a>
        <div class="menu-item">
          <div class="mail-type">Sent</div>
          <div class="number">4</div>
        </div>
      </a>
      <a>
        <div class="menu-item">
          <div class="mail-type">Draft</div>
          <div class="number">3</div>
        </div>
      </a>
      <a>
        <div class="menu-item">
          <div class="mail-type">Trash</div>
          <div class="number">16</div>
        </div>
      </a>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="main-content">
      <div class="inbox-list">
        <app-mail-list></app-mail-list>
      </div>
      <div class="mail-detail-section">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>


<app-footer></app-footer>

